button {
    padding: 10px 20px;
    background-color: #ff5fcf;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #1aaabd;
}

#messages p {
    padding: 5px;
    margin: 0;
    background-color: #1dd3b1;
    border: 1px solid #ddd;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 800px) {
    #messages p, button {
        background-color: #8348de;
        color: black;
        font-size: 30px;
    }

    input[type="text"] {
        background-color: #e7e7e7;
    }
}

button:active {
    background-color: #1b3180;
    transform: translateX(10px);
}
